nav {
    width: 100%;
}
article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 90%;
    height: 100%;
    background: black;
    border-radius: 30% 10% 30% 10%;
    -moz-border-radius: 30% 10% 30% 10%;
    -webkit-border-radius: 30% 10% 30% 10%;
    -ms-border-radius: 30% 10% 30% 10%;
    -o-border-radius: 30% 10% 30% 10%;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 10px 10px 10px 10px #888888;
    z-index: 1;
}
.pagination {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    margin-bottom: 1em;
}